
 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments/head :: head"></head>
 <body class="app-body">
 <header class="app-header">
   <div th:replace="fragments/header :: header"></div>
 </header>
 
 <main class="app-main">
   <div class="app-layout">
     <!-- SIDEBAR -->
     <aside class="sidebar">
       <div th:replace="~{${sidebarFragment} :: sidebar}"></div>
     </aside>
 
     <!-- CONTENT -->
     <section class="content-area">
       <div th:replace="~{${contentFragment} :: content}"></div>
     </section>
   </div>
 </main>
 
 <footer class="app-footer">
   <div th:replace="fragments/footer :: footer"></div>
 </footer>
 </body>
 </html>
 
